version: "3.9"

services:
  backend:
    build:
      context: ./backend
    container_name: mean-backend
    environment:
      - PORT=8080
    ports:
      - "8080:8080"

  frontend:
    build:
      context: ./frontend
    container_name: mean-frontend
    ports:
      - "8081:80"
    depends_on:
      - backend

